 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: 4CEF-C702

 Directorio de C:\Users\asus\Desktop\touch

20/01/2019  01:35 p. m.    <DIR>          .
20/01/2019  01:35 p. m.    <DIR>          ..
20/01/2019  01:35 p. m.                 0 .gitignore
20/01/2019  09:13 a. m.               625 iconfinder-icon.svg
20/01/2019  01:26 p. m.             1.839 index.html
20/01/2019  01:28 p. m.             1.181 indexs.css
20/01/2019  01:02 p. m.             2.248 menu.js
               5 archivos          5.893 bytes
               2 dirs  198.302.167.040 bytes libres
